<div class="container">
  <div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <h3 class="font-weight-bold text-center text-white">Iniciar sesión</h3>
    </div>
  </div>
</div>

<div *ngIf="!sesion_activa">
  <div class="container">
    <div class="form-group">
      <div class="text-center">e-mail</div>
      <div class="row justify-content-center">
        <input type="text" class="form-control col-md-3" [(ngModel)]="email">
      </div>
      <div class="text-center">Password </div>
      <div class="row justify-content-center">
        <input type="password" class="form-control col-md-3" [(ngModel)]="pass">
      </div>
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-primary col-1" (click)="login()">Iniciar</button>
    </div>
  </div>

  <hr>

</div>

<div class="container">
  <div *ngIf="!sesion_valida" class="alert alert-danger">email y/o password incorrecto</div>
</div>

<div class="container datos" *ngIf="datosOk||sesion_activa">
  <div class="row">
    <div class="col-md-4">
      <div class="container">
        <ul class="list-group">
          <div class="list-group-item bg-primary">
            <h6 class="text-center text-white font-weight-bold">Datos cargados</h6>
          </div>
          <li class="list-group-item">Nombre: {{datosUser.name}} </li>
          <li class="list-group-item">Apellido: {{datosUser.surname}} </li>
          <li class="list-group-item">Rol: {{datosUser.role}} </li>
          <li class="list-group-item">email:
            <u>{{datosUser.email}}</u>
          </li>
          <li class="list-group-item">Password: {{datosUser.password}}</li>
        </ul>
        <button class="btn btn-primary" (click)="logout()">Salir</button>
      </div>
    </div>
    <div class="col-md-8" *ngIf="role=='ROLE_ADMIN'">
      <main></main>
    </div>
  </div>
</div>