h2{
    border: 3px solid greenyellow;
    width: 15%;
    background: #F8F3F3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

