<!--The content below is only a placeholder and can be replaced.-->

<h3>
  {{title}}
</h3>

<hr>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" [routerLink]="['']">
      <img src="../../assets/img/icon.jpg" width="30" height="30" class="d-line-block align-top" alt="">
      Home
    </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <!--DROPDOWN DE FORMULARIOS-->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
                Formularios
              </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/login']">Log in</a>
          <a class="dropdown-item" [routerLink]="['/formulario']">Registro</a>
        </div>

      </div>

      <a class="nav-item nav-link" [routerLink]="['/fruta']">Fruta</a>
      <a class="nav-item nav-link" [routerLink]="['/empleado']">Empleado</a>
      <a class="nav-item nav-link" [routerLink]="['/coches']">Coches</a>
      <a class="nav-item nav-link" [routerLink]="['/plantillas']">Plantillas</a>
      <a class="nav-item nav-link" [routerLink]="['/parent']">Parent</a>

      <!--DROPDOWN DE OTROS-->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Otros
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/jquery']">jQuery</a>
          <a class="dropdown-item" [routerLink]="['/bootstrap']">Bootstrap</a>
          <a class="dropdown-item" [routerLink]="['/bootpage']">BootPage</a>
        </div>

      </div>
      <a class="nav-item nav-link" [routerLink]="['/contacto']">Contacto</a>
    </div>
  </div>
</nav>

<!--nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand">WebSite</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/fruta']">Fruta</a></li>
      <li><a [routerLink]="['/empleado']">Empleado</a></li>
      <li><a [routerLink]="['/contacto']">Contacto</a></li>
    </ul>
  </div>
</nav-->

<br>

<!--empleado></empleado-->

<!--div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<fieldset>
  <legend>Links</legend>
<ul>
  <li>
    <a routerLink="/app">app</a>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="nuevocomponente/nuevocomponente.component.html">Angular blog</a></h2>
  </li>
</ul>

</fieldset>

<fruta></fruta-->


<router-outlet></router-outlet>